.App{
    text-align: center;
    width:30rem;
    height:auto;
    padding: 2rem;
    background-color: steelblue;
    border-radius: 13px;
    margin:10rem auto;
    color:white
}

.img{
    width:20rem;
}

.btn{
    background-color: aliceblue;
    color: black ;
    height: 35px;
}